body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1rem 2rem;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
  border-color: greenyellow;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em greenyellow;
  transform: translateY(-0.25em);
  cursor: pointer;
}
